{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2>Detail d'un souhait</h2>

    <div>
        <h3>{{ wish.title }}</h3>
        <p>Crée par {{ wish.author }}, le {{ wish.dateCreated | date("d/m/Y") }}</p>
        <p>{{ wish.description | nl2br }}</p>
    </div>

    <a href="{{ path('wish_update', {'id': wish.id}) }}">
        <button>Modifier</button>
    </a>
    <a href="{{ path('wish_delete', {'id': wish.id}) }}">
        <button>Supprimer</button>
    </a>

{% endblock %}

